{
  "presets": [
    ["@babel/preset-env", { "targets": { "node": "current" } }],
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "extensions": [".ts", ".tsx", ".js", ".jsx"]
      }
    ]
  ]
}
